documents/calculation.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="demo-gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="demo-gen" targetNamespace="demo-gen">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="demo-gen">

    <xs:element name="getCalculationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="xParapm" type="xs:decimal"/>
                <xs:element name="yParapm" type="xs:decimal"/>
                <xs:element name="operationType" type="tns:operation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCalculationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="calculation" type="tns:calculationResult"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="operation">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDITION"/>
            <xs:enumeration value="SUBTRACTION"/>
            <xs:enumeration value="MULTIPLICATION"/>
            <xs:enumeration value="DIVISION"/>
        </xs:restriction>
    </xs:simpleType>

	<xs:complexType name="calculationResult">
        <xs:sequence>
            <xs:element name="result" type="xs:decimal"/>
            <xs:element name="errorCode" type="xs:string"/>
            <xs:element name="errorMessage" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCalculationRequest">
    <wsdl:part element="tns:getCalculationRequest" name="getCalculationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCalculationResponse">
    <wsdl:part element="tns:getCalculationResponse" name="getCalculationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CountriesPort">
    <wsdl:operation name="getCalculation">
      <wsdl:input message="tns:getCalculationRequest" name="getCalculationRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCalculationResponse" name="getCalculationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CountriesPortSoap11" type="tns:CountriesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCalculation">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCalculationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCalculationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CountriesPortService">
    <wsdl:port binding="tns:CountriesPortSoap11" name="CountriesPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>